@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;800;900&display=swap");
body {
  font-family: "Fira Sans", sans-serif;
}

.container {
  width: 150px;
  height: 220px;
  background-color: #f8f363;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 51px -18px rgb(48, 48, 48);
  -moz-box-shadow: 0px 0px 51px -18px rgb(48, 48, 48);
  box-shadow: 0px 0px 51px -18px rgb(48, 48, 48);
  transition: all ease-in-out 0.4s;
}

.container:hover {
  background-color: #fffcb3;
}

.imgDog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 150px;
  height: 110px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: all ease-in-out 0.4s;
}

.container:hover .imgDog {
  transform: scale(1.15);
}

.wrapperImg {
  overflow: hidden;
}

.container:hover .cardTitle {
  text-decoration: underline;
  text-decoration-color: rgb(255, 118, 88);
}

.cardTitle {
  color: #201616;
  margin-top: 5px;
  font-size: 1.5em;
  font-weight: 800;
  width: 100px;
  margin-left: 25px;
}

.cardSub {
  color: rgb(46, 46, 46);
  margin-left: 25px;
  margin-top: -10px;
}

.cardTemp {
  color: black;
  margin-top: -5px;
  width: 250px;
  margin-left: 25px;
  font-size: 0.9em;
}

.cardText {
  font-size: 10px;
}

.tempWrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 10px 0 10px;
}
