.resize {
  max-width: 200px;
  max-height: 200px;
}

.card {
  display: flex;
  width: 20%;
  height: 40%;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  flex-flow: wrap;
  margin: 10px;
  border-radius: 5%;
  border-style: solid;
}
