.container {
  background: rgba(82, 142, 110, 0.9);
  opacity: 2;
  display: grid;
  margin: 0 0 0 50px;
  width: 90%;
  height: 70%;
  border-radius: 20px;
}

.dogsCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 75%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.searchBar {
  display: flex;
  justify-content: center;
}

.filters {
  display: flex;
  flex-direction: column;
}

.cardFilterContainer {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.buttonCreate {
  display: flex;
  border: 1px solid #f8f363;
  border-radius: 20px;
  width: 155px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #f8f363;
  color: black;
}

.loading {
  width: 40%;
  height: 90%;
}

.logoBar {
  display: flex;
  background-color: rgba(82, 142, 110);
  height: 90px;
  margin-bottom: 100px;
}

.aBar {
  justify-content: center;
  width: 100%;
  margin-top: -46px;
}
